<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
  <div class="row">
      <div class="col-md-3 col-sm-6">    
        <%= profile_img(user) %>
      </div>
        <a href="<%= user_path(user.id) %>">
          <%= user.email %>
        </a>
        <%= render 'follow_form', user: user %>
  </div>   
  <% end %>
</div>
</div>