<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
  <div class="row">
      <% if user.id != current_user.id %>
        <div class="item">
          <%= link_to user.name, user %>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        </div>
        <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
      <% end %>
  </div>   
  <% end %>
</div>
</div>